<h1><%= @name %></h1>
<p>
    <div class="from">From: <%= @from %></div>
    <div class="year">Year: <%= @year %></div>
    <div class="funfact"><b><u>Fun Fact: <%= @funfact %></b></u></div>
    <div class="excited">What I am most excited about: <%= @excited %></div>
</p>